@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Playfair+Display+SC:ital@1&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

/*!Estilização Fontes-------------------------*/

.titulo {
  font-family: "Playfair Display SC", serif;
  line-height: 100px;
}
h2 {
  font-family: monospace;
}

p {
  font-family: Helvetica, Arial;
}

.article--titulo {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: #fe653c;
}

.faq--titulo {
  font-size: 1rem;
  color: #fe653c;
}

/*!Body----------------------------------------*/

img {
  display: block;
  max-width: 100%;
}
body {
  display: grid;
  grid-template-columns: repeat(4, 400px);
  background-color: #faf6ed;
  gap: 10px;
}

@media (max-width: 1300px) {
  body {
    display: grid;
    grid-template-columns: 1fr repeat(2, 300px) 1fr;
    background-color: #faf6ed;
    gap: 10px;
  }
}

@media (max-width: 800px) {
  body {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    background-color: #faf6ed;
    gap: 10px;
  }
}

/*!HEADER---------------------------------------*/

header {
  margin-left: 300px;
  grid-column: span 5;
}
.menu {
  background-color: #fb5;
  padding: 10px;
}

ul {
  display: flex;
  gap: 30px;
}
li {
  list-style-type: none;
}

a {
  font-family: "IBM Plex Mono";
  text-decoration: none;
  color: black;
}

.titulo {
  font-size: 100px;
  text-align: left;
  grid-column: 2;
}

@media (max-width: 1300px) {
  .titulo {
    font-size: 50px;
    text-align: left;
    line-height: 50px;
    grid-column: 2;
  }
}

@media (max-width: 800px) {
  .titulo {
    font-size: 50px;
    text-align: left;
    line-height: 50px;
    grid-column: 2;
  }
}

/*!MAIN------------------------------------*/

.raposa,
.esquilo,
.urso,
.faq,
.contato,
footer {
  grid-column: 3;
}

.img--raposa {
  grid-column: 2;
  max-width: 250px;
  margin: 0 0 0 130px;
}

.img--esquilo {
  grid-column: 2;
  grid-row: 4;
  max-width: 250px;
  margin: 0 0 0 130px;
}

.img--urso {
  grid-column: 2;
  grid-row: 5;
  max-width: 250px;
  margin: 0 0 0 130px;
}

.titulo--faq,
.titulo--contato {
  font-size: 2rem;
}
@media (max-width: 1300px) {
  .raposa,
  .esquilo,
  .urso,
  .faq,
  .contato,
  footer {
    grid-column: 3;
  }

  .img--raposa {
    grid-column: 2;
    max-width: 250px;
    margin: 0 auto;
  }

  .img--esquilo {
    grid-column: 2;
    grid-row: 4;
    max-width: 250px;
    margin: auto;
  }

  .img--urso {
    grid-column: 2;
    grid-row: 5;
    max-width: 250px;
    margin: 0 auto;
  }

  .titulo--faq,
  .titulo--contato {
    font-size: 2rem;
  }
}
@media (max-width: 800px) {
  .raposa,
  .esquilo,
  .urso,
  .faq,
  .contato,
  footer {
    grid-column: 2;
  }

  .img--raposa {
    grid-column: 1;
    max-width: 15px;
    margin: 0 auto;
  }
  .img--esquilo {
    grid-column: 3;
    grid-row: 4;
    max-width: 150px;
    margin: 0 auto;
  }

  .img--urso {
    grid-column: 1;
    grid-row: 5;
    max-width: 150px;
    margin: 0 auto;
  }

  .titulo--faq,
  .titulo--contato {
    font-size: 2rem;
  }
}

/*!Footer-------------------------------------*/

iframe {
  grid-column: 2;
  grid-row: 7;
  margin: 0;
}

footer {
  background-color: #fb5;
  margin-left: 300px;
  padding: 10px;
  grid-column: span 5;
}

.footer--texto {
  font-weight: bold;
  font-family: "IBM Plex Mono";
}
